@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600;700&display=swap');

}


body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}


nav {
  background-color: var(--card-bg);
  padding: 1rem 2rem;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav a {
  color: var(--text-main);
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

nav a:hover {
  color: var(--accent-ice);
}


h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--text-main);
}

h1 {
  font-size: auto
  margin-bottom: auto;
}


.home-page {
  max-width: auto;
  text-align: center;
}

.home-page h1 {
  color: var(--accent-ice);

}

.home-page p {
  font-size: 1.1;
  color: #D1D5DB;
  max-width: 700px;
}


.home-page img {
  max-width: 100%;
  height: auto;
}
